{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'crm/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'crm/css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'crm/css/sidebar.css' %}" />

    <title>Document</title>
</head>
<body>
    {% block navbar %}{% endblock %}

    <h1>Home</h1>
    <script src="{% static 'crm/js/navbar.js' %}"></script>
</body>
</html>
