{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'crm/css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'crm/css/login.css' %}" />
    </head>
    <body>
        <div class="container">
            <form id="login-form" method="POST">
                {% csrf_token %}
                <div class="login-container">
                    <!-- <div class="company-title">CRM 360</div> -->
                    <div class="waviy company-title">
                        <span style="--i: 1">C</span>
                        <span style="--i: 2">R</span>
                        <span style="--i: 3">M</span>
                        <span style="--i: 4">&nbsp;</span>
                        <span style="--i: 5">3</span>
                        <span style="--i: 6">6</span>
                        <span style="--i: 7">0</span>
                    </div>
                    <div class="input-container">
                        <div class="input-label">
                            <label for="username">Username:</label>
                        </div>
                        <div class="input-field">
                            <input
                                type="text"
                                id="username"
                                name="username"
                                placeholder="Username"
                                required
                            />
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="input-label">
                            <label for="password">Password:</label>
                        </div>
                        <div class="input-field">
                            <input
                                type="password"
                                name="password"
                                id="password"
                                placeholder="Password"
                                required
                            />
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="input-field">
                            <button class="login-button" type="submit"
                                >Log In</button
                            >
                        </div>
                    </div>

                    <div class="login-footer">
                        <p class="signup-content">
                            Don't have account? <a href="/sign-up">Signup</a>
                        </p>
                    </div>
                </div>
                <div id="error-message"></div>
            </form>
        </div>
        <script src="{% static 'crm/js/login.js' %}"></script>
    </body>
</html>
