{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'crm/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'crm/css/signup.css' %}">
    <title>CRM 360 Signup</title>
</head>
<body>
    <div class="signup-container">
        <div class="signup-box">
            <div class="signup-head">Sign Up</div>
            <div class="signup-form">
                <form action="/api/v1/sign-up" method="POST" onsubmit="return validateForm()">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <p style="color: red;">{{ field.errors.0 }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}  
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
