/* This styles.css file contains the font ant other common style */


@font-face {
    font-family: 'Audiowide-Regular-CRM';
    src: url('../fonts/audiowide/Audiowide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.error-message {
    color: red;
    display: block;
    max-height: 3em; /* Set the maximum height for the error message */
    overflow: hidden; /* Hide overflow text */
    white-space: pre-wrap; /* Enable text wrapping */
}
